<div class="center-this">
    <div class="container">
        <div class="col-md-12">
            <mat-card>
                <h2>Logistics App. </h2><br>
                <button mat-raised-button color="accent" routerLink='/feature'>click me to test routing</button>
                <hr>                
            </mat-card>
        </div>
    </div>
</div>