<div class="center-this">
    <div class="container">
        <div class="col-md-12">
            <mat-card>
                <h4>This is a different module (FeatureModule)</h4>
                <img src='http://mruanova.com/img/1.jpg' alt='image'>
                <p>GET /api/hello: {{ message }}</p><br>
                <button mat-raised-button color="basic" routerLink='/'>Back</button>
            </mat-card>
        </div>
    </div>
</div>